<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Machine Fire - Recent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list *ngFor="let fkt of cache">
      <ion-item button="true" (click)="fire(fkt.functionId, fkt.machineId)">{{ fkt.name }}</ion-item>
    </ion-list>

  <ion-button expand="full" (click)="clear()">Clear</ion-button>

  <ion-list *ngFor="let fkt of functions">
    <ion-item button="true" (click)="add(fkt)">{{ fkt.name }}</ion-item>
  </ion-list>
</ion-content>
