<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
    <ion-title>Einzelner Wurf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing....."> </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let function of functions">
    <ion-item button="true" (click)="fire(function.functionId, function.machineId)">{{ function.name }}
    </ion-item>
  </ion-list>
  
</ion-content>
